@mixin font($fs, $fw) {
  font-size: $fs;
  font-weight: $fw;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $primary-text-color;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  min-width: 300px;
  max-width: 480px;

  @media screen and (min-width: 768px) {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 618px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 882px;
  }
}

.card__title {
  font-family: 'Roboto', sans-serif;
  @include font(12px, 500);
  line-height: calc(16 / 12);
  color: $primary-text-color;
  text-transform: uppercase;
}

.card__desc {
  font-family: 'Roboto', sans-serif;
  @include font(12px, 500);
  line-height: calc(16 / 12);
  color: $accent-color;
}
