$white: #ffffff;
$primary-text-color: #000000;
$secondary-text-color: #8c8c8c;
$accent-color: #ff6b01;

$title-color-header: #ffffff;
$title-color-card: #000000;
$footer-text-color: #545454;
$error-text-color: #ff001b;

$btn-color: #ff6b01;

$footer-bg-color: #f7f7f7;
