$gallery-bg-color: #E5E5E5;

main {
  background-color: $gallery-bg-color;
  display: flex;
  flex-direction: column;
}

.gallery-list {
  //
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


@media screen and (min-width: 768px) {
  .gallery-list {
    padding-top: 60px;
    gap: 30px;

  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    gap: 30px;
  }
}

.pagination-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $gallery-bg-color;
  width: 40px;
  height: 40px;
}

.pagination span {
  background-color: $gallery-bg-color;
}

.start,
.end,
.pagination-ellipsis-item {
  display: none;
}

.pagination-btn-center,
.pagination-btn-left,
.pagination-btn-rigth {
  border-radius: 5px;
}

.pagination-btn-left,
.pagination-btn-rigth {
  background: $footer-bg-color;
  display: flex;
  justify-content: center;
  align-items: center;


  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.pagination-btn-center {
  background-color: $accent-color;
}

@media screen and (min-width: 768px) {
  .pagination-list {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .start,
  .end,
  .pagination-ellipsis-item {
    display: flex;
  }
}