$gallery-bg-color: #e5e5e5;

main {
  background-color: $gallery-bg-color;
  display: flex;
  flex-direction: column;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    padding-top: 60px;
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    gap: 30px;
  }
}


