.footer__section {
  background-color: ($footer-bg-color);
  color: ($footer-text-color);
  padding-top: 29px;
  padding-bottom: 29px;
  font-size: 14px;
  line-height: 1.17;
  font-weight: 400;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 28px;
  }
}
.footer-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
