.theme__btn {
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: ($dark-theme-secon-bg-color);
  border-radius: 50%;
  box-shadow: 0 1px 8px 3px rgb(165 165 165 / 60%);
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 768px) {
    right: 15px;
  }
  @media screen and (min-width: 1024px) {
    right: 40px;
  }

  transition-duration: 500ms;
  transition-timing-function: linear;
}

.theme__icon {
  fill: ($footer-bg-color);
}

.dark-theme main {
  background-color: ($dark-theme-prim-bg-color);
  color: white;
}

.dark-theme .card__title {
  color: $dark-theme-text-color;
}

.dark-theme .card__key,
.dark-theme .card__value,
.dark-theme .card__overview {
  color: white;
}

.dark-theme .film__data-wrapper,
.dark-theme .film__overview,
.dark-theme .film__subtitle,
.dark-theme .film__value {
  color: white;
}

.dark-theme .film__key {
  color: $accent-color;
}

.dark-theme .modal__body {
  background-color: #373540;
}
.dark-theme .tui-pagination .tui-page-btn {
  border: 1px solid #757575;
}

.dark-theme .dark-theme .modal__body {
  background-color: ($dark-theme-prim-bg-color);
}

.dark-theme .our-team-title {
  color: ($accent-color);
}

.dark-theme .our-team-list-item {
  opacity: 0.7;
}

.dark-theme .tui-page-btn {
  background-color: ($dark-theme-secon-bg-color);
}

.dark-theme .theme__icon {
  fill: ($accent-color);
}

.dark-theme .footer__section {
  background-color: ($dark-theme-prim-bg-color);
  color: ($footer-bg-color);
}

.dark-theme .footer-link {
  background-color: ($dark-theme-prim-bg-color);

  color: ($footer-bg-color);
}

.dark-theme .film__title {
  color: $dark-theme-text-color;
}

.dark-theme .film__value {
  color: $dark-theme-text-color;
}

.dark-theme .film__overview {
  color: $dark-theme-text-color;
}

.dark-theme .film__value--genres {
  color: $dark-theme-text-color;
}

.dark-theme .film__value--year {
  color: $dark-theme-text-color;
}

.dark-theme .film__subtitle {
  color: $dark-theme-text-color;
}

.dark-theme .modal__close {
  fill: $dark-theme-text-color;
}

.dark-theme .film__button {
  color: $dark-theme-text-color;
  opacity: 0.8;
}

.dark-theme .active-queue,
.dark-theme .active-watched {
  color: $white;
}
