<div class="our-team-container container">
    <h2 class="our-team-title">Our team</h2>
    <ul class="our-team-list">
        <li class="our-team-list-item">
            <img src="./images/our-team/yelyzaveta.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Yelyzaveta Lukianova</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/yelyzaveta.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Єлизавета Лук'янова</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/alex.jpg" alt="Frontend Developer" width="100px" height="1300px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Олександр Шепель</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/yurii.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Юрій Грацонь</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/yelyzaveta.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Yelyzaveta Lukianova</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/yelyzaveta.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Yelyzaveta Lukianova</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
            </div>
        </li>
        <li class="our-team-list-item">
            <img src="./images/our-team/yelyzaveta.jpg" alt="Frontend Developer" width="100px" />
            <div class="our-team-div">
                <h3 class="section-title-list">Yelyzaveta Lukianova</h3>
                <p class="our-team-text">Frontend Developer</p>
                <ul class="social-list">
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-instagram"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="#">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-twitter"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.facebook.com/profile.php?id=100070317975467">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg></a>
                    </li>
                    <li class="social-list-item">
                        <a class="social-list-link" href="https://www.linkedin.com/in/yelyzaveta-mieshkova-216482190/">
                            <svg class="social-list-icon" width="15" height="15">
                                <use href="./images/sprite.svg#icon-linkedin"></use>
                            </svg>
                        </a>
                    </li>
                    </ul>
            </div>
        </li>
    </ul>
</div>