.film {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.film__image-wrapper {
  position: relative;
  width: 240px;
  height: 357px;
  margin-bottom: 30px;
  overflow: hidden;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 264px;
    height: 374px;
    margin-right: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
    margin-right: 30px;
  }
}

.film__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: transparent;
  border: none;
}

.film__icon {
  fill: $accent-color;
  transform: scale(1);

  &:hover {
    transform: scale(1.3);
    transition: transform $anim-props;
  }
}

.film__image {
  object-fit: cover;
}

.film__btn-list {
  flex-grow: 1;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.film__button {
  padding: 0 10px;
  width: 113px;
  height: 44px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    padding: 0;
    width: 125px;
  }

  &--watch,
  &--queue {
    border: 1px solid $primary-text-color;
    text-transform: uppercase;
    color: $primary-text-color;
  }
}

.film__data-wrapper {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 12px;
  line-height: 1.16;

  @media screen and (min-width: 768px) {
    width: 264px;
  }
  @media screen and (min-width: 1024px) {
    width: 396px;
  }
}

.film__title {
  font-size: 20px;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.film__table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 1.33;
}

.film__entry {
  display: grid;
  grid-template-columns: 108px auto;
}

.film__key {
  color: $secondary-text-color;
}

.film__value {
  color: $primary-text-color;
}

.film__accent {
  padding: 1px 10px;
  text-align: center;
  color: $white;
  background-color: $accent-color;
  border-radius: 5px;
}

.film__subtitle {
  margin-bottom: 10px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $primary-text-color;
}

.film__overview {
  line-height: 1.66;
  color: $primary-text-color;
}

.film__trailer {
  height: 480px;
  width: 100%;
}

.active-queue,
.active-watched {
  background-color: $btn-color;
  text-transform: uppercase;
  color: $white;
  border-color: $btn-color;
}
