<div class="backdrop">
  <button class="" type="button">
    <svg width="30" height="30">
      <use href="#"></use>
    </svg>
  </button>
  <img src="#" alt="Film poster" width="240px" height="357px" />
  <h2>Tittle Film Name Example</h2>
  <ul>
    <li>
      <p>Vote/Votes<span>10/1000 Example</span></p>
    </li>
    <li>
      <p>Popularity<span>100 Example</span></p>
    </li>
    <li>
      <p>Original Title<span>Tittle Film Example</span></p>
    </li>
    <li>
      <p>Genre<span>Genre Example</span></p>
    </li>
  </ul>
  <ul>
    <li><h3>About</h3></li>
    <li>
      <p>
        Example of the Example Example Example Example Example to Example a Example Example of
        Example from the Example Example Example of the Example Example Example. But not all goes to
        Example one is Example and the Example Example Example with bags of gold hide out in the
        abandoned Example Example Example Example Example Example Example gang of three – who
        themselves were planning to hit the Example same Example! As Example Example, things go from
        bad to worse as they realise the bags of gold are filled with lead... they’ve been double
        crossed – but by who and how?
      </p>
    </li>
  </ul>
  <ul>
    <li><button type="button">add to Watched</button></li>
    <li><button type="button">add to queue</button></li>
  </ul>
</div>
