<div class="backdrop">
  <div class="modal">
    <button class="modal__button" type="button">
      <svg width="30" height="30">
        <use href="#">X</use>
      </svg>
    </button>
    <div class="modal__images">
      <img class="modal__images--size" src="#" alt="Film poster" />
    </div>
    <h2 class="modal__tittle">Tittle Film Name Example</h2>
    <div class="inform-film__wrap">
      <ul class="inform-film__stile-res">
        <li class="inform-film__indent">
          <p class="inform-film__text">Vote/Votes</p>
        </li>
        <li class="inform-film__indent">
          <p class="inform-film__text">Popularity</p>
        </li>
        <li class="inform-film__indent">
          <p class="inform-film__text">Original Title</p>
        </li>
        <li class="inform-film__indent">
          <p class="inform-film__text">Genre</p>
        </li>
      </ul>
      <ul class="inform-film__stile-res">
        <li class="inform-film__indent">
          <p class="inform-film__data">
            <span class="inform-film__data--bacground">10</span
            ><span class="inform-film__data--slash">/</span>1000
          </p>
        </li>
        <li class="inform-film__indent"><p class="inform-film__data">100</p></li>
        <li class="inform-film__indent"><p class="inform-film__data">Tittle Film</p></li>
        <li class="inform-film__indent"><p class="inform-film__data">Genre</p></li>
      </ul>
    </div>
    <ul class="about-film">
      <li><h3 class="about-film__tittle">About</h3></li>
      <li>
        <p class="about-film__info">
          Example of the Example Example Example Example Example to Example a Example Example of
          Example from the Example Example Example of the Example Example Example. But not all goes
          to Example one is Example and the Example Example Example with bags of gold hide out in
          the abandoned Example Example Example Example Example Example Example gang of three – who
          themselves were planning to hit the Example same Example! As Example Example, things go
          from bad to worse as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </li>
    </ul>
    <ul class="add-btn__wrap">
      <li><button class="add-btn__to-watch" type="button">add to Watched</button></li>
      <li><button class="add-btn__to-queue" type="button">add to queue</button></li>
    </ul>
  </div>
</div>
